<% layout('layouts/boilerplate') %>

<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <div class="alert alert-danger d-flex align-items-center shadow-sm rounded-3" role="alert">
      <i class="bi bi-exclamation-triangle-fill me-2"></i>
      <p style="font-weight: 400;"><%= message %></p>
    </div>
  </div>
</div>
