<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1;
  }
  footer {
    background-color: rgb(239, 239, 239);
    color: rgb(0, 0, 0);
    text-align: center;
  }
</style>

<body>
  <main>
    <!-- your page content here -->
  </main>

  <footer>
    <div class="text-center p-3">
      © 2024 Copyright:
      <a class="text-dark" href="#">WonderLust.com</a>
    </div>
  </footer>
</body>
